body {
    background-color: #7e7e8075;
    width: 60%;
    margin: auto;
}

.center {
    position: relative;
    width: 100%;
    height: 150px;
    border: 1px solid black;
    background-color: rgb(59, 103, 158);
    background: linear-gradient(to bottom, rgba(59, 103, 158, 1) 0%, rgba(43, 136, 217, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%);
    background-repeat: repeat-x;
    filter: contrast(100%);
    border-radius: 6px;
    margin-top: 10px;
    box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 0.75);
}


/* 
.center {
    position: relative;
    width: 100%;
    height: 150px;
    border: 1px solid black;
    background-color: #d6d6f5;
    border-radius: 6px;
    margin-top: 10px;
    box-shadow: 5px 5px;
} */

.userdata {
    background: rgb(136, 191, 232);
    background: linear-gradient(to bottom, rgba(136, 191, 232, 1) 0%, rgba(112, 176, 224, 1) 100%);
    box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    float: right;
    width: 30%;
    height: 100px;
    margin-top: 15px;
    margin-right: 15px;
}

.imgclass {
    /* float: left; */
    /* margin-left: 15px; */
    /* margin-top: 2px; */
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    margin-top: 5px;
    /* text-align: center; */
}

.tableclass {
    box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 0.75);
    width: 100%;
    border: 1px solid black;
    margin-top: 15px;
    border-spacing: 0px;
}

.topicClass {
    padding-left: 10px;
    border: 1px solid black;
    border-color: #e7e7f0;
    background-color: #e7e7f0;
    height: 100%;
}

.discussionsClass {
    padding-left: 10px;
    border: 1px solid black;
    border-color: #e7e7f0;
    background-color: #e7e7f0;
    height: 100%;
}

.directoryClass {
    background-color: rgb(226, 226, 226);
    background: linear-gradient(to bottom, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(254, 254, 254, 1) 100%);
    padding-left: 10px;
    border: 1px solid black;
    border-color: #e7e7f0;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
}

.discussionImg {
    background-color: #cdcddd;
}

.topicImg {
    /* background-color: #cdcddd; */
    margin-top: 3px;
}

.container {
    background-color: #7486748f;
    position: relative;
    width: 100%;
    border: 1px solid black;
    margin-top: 50px;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.posts {
    width: 85%;
    margin: auto;
    background-color: #97a197;
}

.post {
    border: 1px solid black;
    background-color: #fffffa;
}

.postNr {
    font-size: 13px;
    font-weight: normal;
    padding-top: 8px;
    padding-right: 7px;
    display: block;
    float: right;
}

.postUser {
    margin-top: 2px;
    margin-bottom: 4px;
    margin-left: 50px;
}

.datePost {
    margin-top: 7px;
    margin-left: 350px;
}

.imgUser {
    float: left;
    margin: 3px;
}

.userComment {
    margin-left: 150px;
    background-color: #fffffacc;
    min-height: 90px;
    border-right: 1px solid black;
    /* border-bottom: 1px solid black; */
    border-left: 1px solid black;
    padding: 3px;
}

.newTopicButton {
    background: #cccccc;
    border-radius: 9px;
    border: none;
    box-shadow: 0px 5px #444444;
    padding: 6px 9px;
    color: #ffffff;
    display: inline-block;
    font: normal bold 16px/1 "Open Sans", sans-serif;
    text-align: center;
    transition: 0.1s;
    cursor: pointer;
    margin-right: 75px;
    margin-top: 7px;
    outline: none;
}

.newTopicButton:focus {
    box-shadow: 0px 1px #444444;
    transform: translateY(4px);
}

.titleBanner {
    background-color: rgb(59, 103, 158);
    background: linear-gradient(to bottom, rgba(59, 103, 158, 1) 0%, rgba(43, 136, 217, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%);
    background-repeat: repeat-x;
}

.newTopic {
    display: grid;
    grid-template-rows: 10% 10% 10% auto 10%;
    box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 400px;
    border: 1px solid black;
    margin-top: 55px;
    margin-bottom: 50px;
    border-spacing: 0px;
    background-color: rgb(59, 103, 158);
    background: linear-gradient(to bottom, rgba(59, 103, 158, 1) 0%, rgba(43, 136, 217, 1) 50%, rgba(32, 124, 202, 1) 51%, rgba(125, 185, 232, 1) 100%);
    justify-content: stretch;
}

.userInfo {
    display: grid;
    grid-template-columns: 20% 15% 25% 20% 20%;
    grid-template-rows: 30px 30px 38px;
    border: 1px solid black;
}

.avatar {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    justify-self: stretch;
    grid-row-end: 3;
    margin-left: 1px;
    margin-top: 3px;
    border: 1px solid black;
    box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 0.25);
}

.username {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: stretch;
    align-self: center;
    border: 1px solid black;
    box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 0.35);
    margin-left: 1px;
    margin-top: -1px;
}

.styleInput {
    border: 1px solid black;
    border-radius: 10px;
    padding: 4px;
    outline: none;
    transition: .3s;
}

.styleInput:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

.insideNewTopic {
    border: 1px solid black;
    width: 75%;
    height: 75%;
    margin: 10px;
}